<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="23722ab4-8d9a-4eaa-966b-5d41f4922800" Publisher="CN=Nands" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BusRouteGuider.Windows</DisplayName>
    <PublisherDisplayName>Nands</PublisherDisplayName>
    <Logo>Assets\90.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BusRouteGuider.Windows.App">
      <m2:VisualElements DisplayName="Ceylon Routes" Square150x150Logo="Assets\270.png" Square30x30Logo="Assets\SmallLogo.png" Description="BusRouteGuider.Windows" ForegroundText="light" BackgroundColor="#141F2E">
        <m2:DefaultTile Square70x70Logo="Assets\126.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\1116.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>